<div class="content-wrapper" #form>
    <div class="page-header">
        <h3 class="page-title"> Services </h3>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="showForm">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <form class="forms-sample" [formGroup]="formGroup" (ngSubmit)="save()">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Type</label>
                                            <select class="form-control" formControlName="type" (change)="showFilter()">
                                                <option value="">Select Type</option>
                                                <option *ngFor="let type of vehicleTypes" value="{{type}}">{{type}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Vehicle Type</label>
                                            <select class="form-control" formControlName="vehicletype">
                                                <option value="">Select Type</option>
                                                <option value="car">Car</option>
                                                <option value="van">Van</option>
                                                <option value="truck">Truck</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Name"
                                                formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Price per Hour</label>
                                            <input type="text" class="form-control" placeholder="Enter Price per Hour"
                                                formControlName="priceperhr">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Price per Day</label>
                                            <input type="text" class="form-control" placeholder="Enter Price per Day"
                                                formControlName="priceperday">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Day Advance Amount</label>
                                            <input type="text" class="form-control" placeholder="Day Advance Amount"
                                                formControlName="adavanceamountforday">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>No of Seats</label>
                                            <input type="text" class="form-control" placeholder="No of Seats"
                                                formControlName="noofseats">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Acceleration</label>
                                            <input type="text" class="form-control" placeholder="Acceleration"
                                                formControlName="acceleration">
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <select class="form-control" formControlName="location_id">
                                                <option value="">Select Location</option>
                                                <option *ngFor="let location of locations" value="{{location.id}}">
                                                    {{location.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-md-9"></div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Short Description</label>
                                            <ckeditor placeholder="Enter Description"
                                                formControlName="shortdescription">
                                            </ckeditor>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <ckeditor placeholder="Enter Description" formControlName="description">
                                            </ckeditor>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Rent'">
                                        <div class="form-group">
                                            <label>Vehicles</label>
                                            <select class="form-control" formControlName="vehicle">
                                                <option value="">Select Vehicles</option>
                                                <option
                                                    *ngFor="let type of vehicleFilers | categoryfilter:{category:'Voertuigen'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Rent'">
                                        <div class="form-group">
                                            <label>Fuel</label>
                                            <select class="form-control" formControlName="fuel">
                                                <option value="">Select Fuel</option>
                                                <option
                                                    *ngFor="let type of vehicleFilers | categoryfilter:{category:'Brandstof'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Rent'">
                                        <div class="form-group">
                                            <label>Transmission</label>
                                            <select class="form-control" formControlName="transmission">
                                                <option value="">Select Transmission</option>
                                                <option
                                                    *ngFor="let type of vehicleFilers | categoryfilter:{category:'Transmissie'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Rent'">
                                        <div class="form-group">
                                            <label>Parking space</label>
                                            <select class="form-control" formControlName="parkingspace">
                                                <option value="">Select Parking space</option>
                                                <option
                                                    *ngFor="let type of vehicleFilers | categoryfilter:{category:'Parkeerruimte'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Rent'">
                                        <div class="form-group">
                                            <label>Storage space</label>
                                            <select class="form-control" formControlName="storagespace">
                                                <option value="">Select Storage space</option>
                                                <option
                                                    *ngFor="let type of vehicleFilers | categoryfilter:{category:'Laadruimte'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Staffing'">
                                        <div class="form-group">
                                            <label>Beroep</label>
                                            <select class="form-control" formControlName="beroep">
                                                <option value="">Select Beroep</option>
                                                <option
                                                    *ngFor="let type of staffFilers | categoryfilter:{category:'Beroep'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Staffing'">
                                        <div class="form-group">
                                            <label>Leeftijd</label>
                                            <select class="form-control" formControlName="leeftijd">
                                                <option value="">Select Leeftijd</option>
                                                <option
                                                    *ngFor="let type of staffFilers | categoryfilter:{category:'Leeftijd'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Staffing'">
                                        <div class="form-group">
                                            <label>Ervaring</label>
                                            <select class="form-control" formControlName="ervaring">
                                                <option value="">Select Ervaring</option>
                                                <option
                                                    *ngFor="let type of staffFilers | categoryfilter:{category:'Ervaring'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Staffing'">
                                        <div class="form-group">
                                            <label>Nationality</label>
                                            <select class="form-control" formControlName="nationality">
                                                <option value="">Select Nationality</option>
                                                <option
                                                    *ngFor="let type of staffFilers | categoryfilter:{category:'Nationality'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Transport'">
                                        <div class="form-group">
                                            <label>Voertuig</label>
                                            <select class="form-control" formControlName="voertuig">
                                                <option value="">Select Voertuig</option>
                                                <option
                                                    *ngFor="let type of transportFilers | categoryfilter:{category:'Voertuig'}"
                                                    value="{{type.id}}">{{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <label class="form-check-label" for="exampleCheck1">Status</label>
                                            <label class="switch">
                                                <input type="checkbox" formControlName="status">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="formControls.type.value=='Staffing'">
                                        <div class="form-group">
                                            <label>Available days</label>
                                            <input type="number" class="form-control" placeholder="Available days"
                                                formControlName="availabledays">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Thumbnail</label>
                                            <input type="file" class="form-control" #thumbnail
                                                (change)="onThumbnailChange(thumbnail.files)">
                                        </div>
                                        <img [src]="selectedRow.path + selectedRow.thumbnail" width="100"
                                            *ngIf="selectedRow && selectedRow.thumbnail">
                                        <div>Thumbnail</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Images</label>
                                            <input type="file" class="form-control" multiple
                                                (change)="onImageChange($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-2" *ngFor="let x of selectedRow.Productimages; let i = index">
                                        <img [src]="x.path + x.image" class="image-preview">
                                        <button class="btn btn-sm btn-default" type="button"
                                            (click)="deleteImage(x.id,i)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <div>Image {{i+1}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Specifications</label>
                                        <select class="form-control" (change)="selectSpecification($event)">
                                            <option value="">Select Specification</option>
                                            <option *ngFor="let type of specifications" value="{{type.id}}">
                                                {{type.name}}
                                            </option>
                                        </select>
                                        <br>
                                        <table class="table table-bordered table-responsive">
                                            <tr>
                                                <th>Selected Specifications</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr *ngFor="let x of selectedSpecifications;let i = index">
                                                <td>{{x.name}}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-default" type="button"
                                                        (click)="deleteSpec(i)">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>QNR</label>
                                            <input type="text" class="form-control" placeholder="QNR"
                                                formControlName="qnr">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Latitude</label>
                                            <input type="text" class="form-control" placeholder="Latitude"
                                                formControlName="lat" (change)="updateAddress()">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Longitude</label>
                                            <input type="text" class="form-control" placeholder="longitude"
                                                formControlName="lng" (change)="updateAddress()">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input type="text" class="form-control" placeholder="Address"
                                                formControlName="location" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="btn btn-info" (click)="fetchLocation()">Fetch Location</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Fuel Type</label>
                                            <select class="form-control" formControlName="fueltype">
                                                <option value="">Select Fuel Type</option>
                                                <option value="Petrol">Petrol</option>
                                                <option value="Diesel">Diesel</option>
                                                <option value="Gas">Gas</option>
                                                <option value="Electric">Electric</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Fuel Capacity</label>
                                            <input type="text" class="form-control" placeholder="Fuel Capacity"
                                                formControlName="fuelcapacity">
                                        </div>
                                    </div>
                                </div>
                                <h3 class="row mt-4">Damage Uploads</h3>
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Image 1</label>
                                            <input type="file" class="form-control" #image1
                                                (change)="onImage1Change(image1.files)">
                                        </div>
                                        <img [src]="selectedRow.path + selectedRow.image1" width="100"
                                            *ngIf="selectedRow && selectedRow.image1">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Image 2</label>
                                            <input type="file" class="form-control" #image2
                                                (change)="onImage2Change(image2.files)">
                                        </div>
                                        <img [src]="selectedRow.path + selectedRow.image2" width="100"
                                            *ngIf="selectedRow && selectedRow.image2">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Image 3</label>
                                            <input type="file" class="form-control" #image3
                                                (change)="onImage3Change(image3.files)">
                                        </div>
                                        <img [src]="selectedRow.path + selectedRow.image3" width="100"
                                            *ngIf="selectedRow && selectedRow.image3">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Image 4</label>
                                            <input type="file" class="form-control" #image4
                                                (change)="onImage4Change(image4.files)">
                                        </div>
                                        <img [src]="selectedRow.path + selectedRow.image4" width="100"
                                            *ngIf="selectedRow && selectedRow.image4">
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-gradient-primary mr-2"
                                            [disabled]="formGroup.invalid">Submit</button>
                                        <button class="btn btn-light" (click)="cancel()">Cancel</button>
                                    </div>
                                </div>
                                <!-- <div class="row mt-4" *ngIf="checkOrder()"> 
                                    <div class="col-md-12">
                                        <h3>Orders</h3>
                                        <table class="table table-responsive">
                                            <thead>
                                                <th>Checkin Date</th>
                                                <th>Checkout Date</th>
                                                <th>Before 1</th>
                                                <th>Before 2</th>
                                                <th>Before 3</th>
                                                <th>Before 4</th>
                                                <th>Before 5</th>
                                                <th>After 1</th>
                                                <th>After 2</th>
                                                <th>After 3</th>
                                                <th>After 4</th>
                                                <th>After 5</th>
                                            </thead>
                                            <tbody class="screenshots">
                                                <tr *ngFor="let order of selectedRow.Orderhistories">
                                                    <td>{{order.checkindate|date:'medium'}}</td>
                                                    <td>{{order.checkoutdate|date:'medium'}}</td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.initialimage1}}" *ngIf="order.screenshoot?.initialimage1"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.initialimage2}}" *ngIf="order.screenshoot?.initialimage2"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.initialimage3}}" *ngIf="order.screenshoot?.initialimage3"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.initialimage4}}" *ngIf="order.screenshoot?.initialimage4"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.additionstartimage}}" *ngIf="order.screenshoot?.additionstartimage"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.completedimage1}}" *ngIf="order.screenshoot?.completedimage1"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.completedimage2}}" *ngIf="order.screenshoot?.completedimage2"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.completedimage3}}" *ngIf="order.screenshoot?.completedimage3"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.completedimage4}}" *ngIf="order.screenshoot?.completedimage4"></td>
                                                    <td><img src="{{order.screenshoot?.path}}{{order.screenshoot?.additionendimage}}" *ngIf="order.screenshoot?.additionendimage"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <button class="btn btn-primary pull-right" (click)="create(form)">Create</button>
                        </div>
                    </div>
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Name </th>
                                <th> Type </th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataLists|loadServices:'services';let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.type}}</td>
                                <td>
                                    <button class="btn btn-sm btn-default" (click)="viewElement(data, form)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-sm btn-default" (click)="deleteElement(data.id)"
                                        *ngIf="(isAdmin)||(userRole == 'All')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="dataLists.length==0">
                                <td colspan="4" class="text-center">No records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>