<div class="content-wrapper" #form>
    <div class="page-header">
        <h3 class="page-title"> Staffs </h3>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="showForm">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <form class="forms-sample" [formGroup]="formGroup" (ngSubmit)="save()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="required">Username</label>
                                            <input type="text" class="form-control" placeholder="Username"
                                                formControlName="firstname" autocomplete="off">
                                        </div>
                                        <div class="form-group" *ngIf="!formGroup.value.id">
                                            <label>Password</label>
                                            <input type="password" class="form-control" placeholder="Password"
                                                formControlName="password" autocomplete="off">
                                        </div>
                                        <div class="form-group" *ngIf="formGroup.value.id">
                                            <label>New Password</label>
                                            <input type="password" class="form-control" placeholder="New Password"
                                                formControlName="newpassword" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="required">Email address</label>
                                            <input type="email" class="form-control" placeholder="Email"
                                                formControlName="email">
                                        </div>
                                        <div class="form-group">
                                            <label class="required">Role</label>
                                            <select class="form-control" formControlName="role">
                                                <option value="">Select Role</option>
                                                <option value="{{role}}" *ngFor="let role of rolesLists">{{role}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-gradient-primary mr-2" [disabled]="formGroup.invalid">Submit</button>
                                        <button class="btn btn-light" (click)="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <button class="btn btn-primary pull-right" (click)="create(form)">Create</button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Name </th>
                                <th> Email </th>
                                <th> Role </th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataLists;let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{data.firstname}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.role}}</td>
                                <td> 
                                    <label class="switch">
                                        <input type="checkbox" [(ngModel)]="data.status" (change)="updateStatus(data.id, data, $event)">
                                        <span class="slider round"></span>
                                      </label>
                                      <button class="btn btn-sm btn-default" (click)="viewElement(data, form)">
                                        <i class="fa fa-edit"></i> 
                                    </button>
                                    <button class="btn btn-sm btn-default" (click)="deleteElement(data.id)" *ngIf="data.email!='admin@jezsel.com'">
                                        <i class="fa fa-trash"></i> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>